* {
  -webkit-tap-highlight-color: transparent;
  --icon-size: 14px;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}
body {
  background-color: black;
  color: beige;
}
h1 {
  font-size: 44px;
  text-align: center;
}
#voices {
  background-color: black;
}
.Voice-cnt {
  margin: 20px 32px;
  padding: 12px;
  /* background-color: lightgreen; */
  width: 90%;
  display: flex;
  flex-direction: column;
}
.Voice-cnt > h2 {
  margin: 8px 12px;
  font-size: 34px;
  text-shadow: 3px 0px 12px rgba(255, 255, 255, 0.77);
}
.Voice-cnt > select {
  margin: 3px 12px;
  width: 100%;
  height: 30px;
  /* background-color: aqua; */
  color: white;
}
.container {
  width: 100%;
  padding: 12px;
  display: flex;
  /* background-color: rgb(0, 134, 252); */
  /* justify-content: space-around; */
}
.container > div {
  /* background-color: lightcoral; */
  margin: 12px;
  padding: 14px 16px;
  width: 190px;
}
.container > textarea {
  margin: 12px auto 12px 30px;
  width: 100%;
  height: 40vh;
  font-size: 24px;
}
.ctrl button {
  margin: 0px 8px;
  width: 120px;
  padding: 12px 0px;
  /* color: red; */
  border: none;
  border-radius: 22px;
  text-shadow: 3px 3px 8px black;
  font-size: 22px;
  color: white;
  font-weight: 700;
  transition: transform 0.2s ease-in;
}
.ctrl {
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
}
.ctrl button:hover {
  transform: scale(0.9);
}
main {
  display: flex;
  justify-content: space-around;
  /* background-color: lightpink; */
}
.speechSection {
  /* background-color: lightcyan; */
}
.controls {
  /* background-color: bisque; */
}

#start,
#cancel,
#resume,
#pause {
  cursor: pointer;
}
.start-icon,
.cancel-icon,
.resume-icon,
.pause-icon {
  height: var(--icon-size);
  width: var(--icon-size);

  padding: 0.6rem;
}

#start {
  border: 1px solid #008000;
  background: transparent;
  box-shadow: 2px 2px 12px rgba(44, 236, 44, 0.5);
}
.start-icon {
  background: url("./assets/control-icons/play-solid.svg") center center
    no-repeat;
}

#cancel {
  border: 1px solid #ff0000;
  background: transparent;
  box-shadow: 2px 2px 12px rgba(178, 30, 30, 0.5);
}
.cancel-icon {
  background: url("./assets/control-icons/stop-solid.svg") center center
    no-repeat;
}

#resume {
  border: 1px solid #adff2f;
  background: transparent;
  box-shadow: 2px 2px 12px rgba(151, 237, 23, 0.5);
}
.resume-icon {
  background: url("./assets/control-icons/forward-step-solid.svg") center center
    no-repeat;
}

#pause {
  border: 1px solid #4169e1;
  background: transparent;
  box-shadow: 2px 2px 12px rgba(49, 155, 220, 0.5);
}
.pause-icon {
  background: url("./assets/control-icons/pause-solid.svg") center center
    no-repeat;
}

@media screen and (max-width: 1300px) {
  .ctrl {
    margin-top: 30%;
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media screen and (max-width: 1000px) {
  .ctrl {
    margin: 12px;
    height: 20vh;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 160px));
  }
  main {
    flex-direction: column;
  }
  .ctrl button {
    margin: 0px 6px;
    width: 100px;
    font-size: 18px;
  }
}
@media screen and (max-width: 600px) {
  .Voice-cnt > select {
    margin: 0px;
  }
  h1 {
    font-size: 38px;
    margin-top: 15px;
  }
  .Voice-cnt > h2 {
    margin: 8px 12px;
    font-size: 28px;
  }
  .container {
    width: 100%;
    padding: 2px 6px;
    flex-direction: column;
    align-items: center;
  }
  .container > textarea{
    margin: 12px 20px 0px;
    height: 30vh;
    font-size: 16px;
  }
  .container div {
    padding: 2px 6px;
  }
  .ctrl{
    margin: 2px 12px;
    height: 10vh;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 100px));
  }
  .props {
    width: 100%;
    flex-direction: column;
  }
  .props div {
    width: 100%;
    text-align: center;
  }
  .ctrl button {
    margin: 2px 6px;
    width: 70px;
    font-size: 16px;
    font-weight: 500;
  }
}
